version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: python --version
      - run: python main.py
  unit_test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: echo "Unit testing"
  stress_test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: echo "Stress testing"    
  e2e_test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run: echo "End-to-end testing" 
  deploy:
    docker:
      -image: cimg/python:3.8
    step:
      - checkout
      - run: echo "Deploying application..."   
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - unit_test
      - stress_test
      - e2e_test
      - deploy